<section class="widget widget-archives card">
    <div class="card-content">
        <div class="widget-title">
            <span>归档</span>
        </div>
        
        <ul class="widget-archive--list">
            {{ range .Context.Site.RegularPages.GroupByDate "2006" }}
            <li class="widget-archive--item">
                <a href="/archives/#{{ .Key }}" title="{{ .Key }}">
                    <span>{{ .Key }}</span>
                    <span class="widget-archive--count">{{ len .Pages }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</section>