<section class="widget widget-tag-cloud card">
    <div class="card-content">
        <div class="widget-title">
            <span>标签</span>
        </div>
        <div class="tagcloud-list">
            {{ range .Context.Site.Taxonomies.tags }}
            <a href="{{ .Page.RelPermalink }}" class="tag-cloud-link">
                <span class="widget-label">{{ .Page.Title }}</span>
                <span class="widget-count">{{ .Count }}</span>
            </a>
            {{ end }}
        </div>
    </div>
</section>