<section class="widget widget-tag-cloud card">
    <div class="card-content">
        <div class="widget-title">
            # <span>🏷️</span>
            <span>标签</span>
        </div>

        <div class="tagcloud-list">
            {{ range .Context.Site.Taxonomies.tags }}
            <a href="{{ .Page.RelPermalink }}" class="tag-cloud-link">
                {{ .Page.Title }} <span style="font-size: 0.8em; opacity: 0.7;">({{ .Count }})</span>
            </a>
            {{ end }}
        </div>
    </div>
</section>